@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}

body {
    background-color: black;
    
}

.main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.784), rgba(0, 0, 0, 0.697)),
        url('https://assets.nflxext.com/ffe/siteui/vlv3/74d734ca-0eab-4cd9-871f-bca01823d872/web/IN-en-20241021-TRIFECTA-perspective_2277eb50-9da3-4fdf-adbe-74db0e9ee2cf_medium.jpg');
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}

.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 20px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-weight: 900px;
    font-size: 56px;
    text-align: center;
    margin-bottom: -15px;
}

.hero> :nth-child(2) {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-weight: 900px;
    font-size: 56px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.hero> :nth-child(4) {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}



.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;

}

.btn-red {
    background-color: rgb(229, 9, 20);
    color: white;
    padding: 13px 35px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
    font-weight: bolder;
    border: none;
}

.btn-red-sm {
    background-color: rgb(229, 9, 20);
    color: white;
    border: none;
    padding: 10px 25px 10px 25px;
    font-size: 13px;
    font-weight: bolder;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.main input {
    padding: 23px 185px 10px 15px;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
    padding-left: 16px;
    padding-bottom: 15px
}

.trending-container h2 {
    font-size: 24px;
    padding-left: 75px;
    color: white;
    padding-top: 35px;
}



.trending {
    display: flex;
    gap: 45px;
    overflow-x: auto;
    scrollbar-width: none;
    padding-top: 15px;
    padding-left: 70px;


}

.trending::-webkit-scrollbar {
    display: none;
    border: solid white 10px;
}


.item {
    border-radius: 8px;
    position: relative;
    width: 200px;
    flex-shrink: 0;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

}

.item img {
    width: 95%;
    height: 90%;
    border-radius: 8px;
}

.item:hover {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    bottom: 20px;
    left: -30px;
    background: none;
    padding: 5px 10px;
    border-color: solid white 10px;
    font-size: 100px;
    font-weight: bold;
    -webkit-text-stroke: 2px white;
    -webkit-text-fill-color: black;

}

.item svg {
    padding-top: 105px;
}

.scroll-container {
    position: relative;
    display: flex;
    align-items: center;
}

.scroll-btn {
    position: relative;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
    transition: 0.3s;
}

.scroll-btn:hover {
    background: rgba(0, 0, 0, 0.8);
}

.left {
    left: 0;
}

.right {
    right: 50px;
    bottom: 20px
}

#reason-heading {
    background-color: black;
}

#reason {
    display: flex;
    color: white;
    justify-content: center;
    margin-top: 10px;
    background-color: black;
}

#reason-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    background-color: rgb(0 0 0);
    padding-top: 20px;
    padding-right: 20px;

}

.fa-tv {
    display: block;
    font-size: 40px;
    margin: 15px auto 0;
    cursor: pointer;
    padding-left: 190px;
    padding-top: 40px;
}

i.fa-solid:hover {
    color: rgb(251, 113, 152);
}

.fa-download {
    display: block;
    font-size: 40px;
    margin: 15px auto 0;
    cursor: pointer;
    padding-left: 200px;
    padding-bottom: 40px;
}

i.fa-solid:hover {
    color: rgb(251, 113, 152);
}

.fa-mobile-alt {
    display: block;
    font-size: 40px;
    margin: 15px auto 0;
    cursor: pointer;
    padding-left: 208px;
    padding-top: 70px
}

.fa-solid:hover {
    color: rgb(251, 113, 152);
}

.fa-child {
    display: block;
    font-size: 40px;
    margin: 15px auto 0;
    cursor: pointer;
    padding-left: 208px;
    padding-top: 8px;
}

.fa-solid:hover {
    color: rgb(251, 113, 152);
}

lid:hover {
    color: rgb(251, 113, 152);
}

#box-1,
#box-2,
#box-3,
#box-4 {
    border: 2px solid none;
    width: 250px;
    height: 250px;
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(3, 3, 44);
}

#box-1 p,
#box-2 p,
#box-3 p,
#box-4 p {
    font-size: 1rem;
    color: rgb(150, 149, 149);
    font-weight: 500;
    padding-top: 20px;
}

.gradient-line {
    width: 99.5%;
    height: 2px;
    margin: 2px;
    border-radius: 10px;
    background: linear-gradient(to right, #ff00ff, #ff0000, #ff9900, #00ffff);
}

.faq h2 {
    padding-left: 25px;
}

.faq {


    color: white;
    background-color: black;
    padding: 34px;

}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    display: flex;
    font-size: 24px;
    background-color: #2d2d2d;
    max-width: 85vw;
    margin: 10px auto;
    transition: all 1s ease-out;
    padding: 24px;
    cursor: pointer;
    justify-content: space-between;


}

.hero1 {

    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 20px;
    padding: 0 30px;
}

.hero-buttons1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.hero1 input {
    padding: 23px 185px 10px 15px;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
    padding-left: 16px;
    padding-bottom: 15px
}

.questions {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 80vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0px 15px 0px;

}

.footer {
    display: grid;
    color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.footer-item {
    display: flex;
    gap: 23px;
    flex-direction: column;

}

.footer-item a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

.block-element {
    display: block;
    font-size: 14px;
    margin-top: 20px;
    padding-left: 10px;
}

select {
    border-radius: 5px;
    color: white;
    background-color: black;
    font-size: 16px;
    padding: 5px 20px 4px 26px;
    margin-top: 20px;
}


@media screen and (max-width:480px) {

    nav {
        max-width: 95vw !important;
        padding: 0px 25px;
    }

    nav img {
        width: 110px !important;
    }

    nav button {
        margin: 0px -50px;
    }

    .hero> :nth-child(1),
    .hero> :nth-child(2) {
        font-size: 30px !important;

    }

    .hero> :nth-child(3),
    .hero> :nth-child(4) {
        font-size: 16px !important;

    }

    .hero {
        height: calc(100% - 100px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        gap: 10px;
        padding: 0 10px;
        margin-left: 50px;

    }

    #reason-box {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-left: -30px;

    }

    #reason-heading {
        padding-left: 100px;
    }

    .scroll-btn {
        display: none;
    }

    .item {
        width: 100px !important;
    }

    .trending-container h2 {
        font-size: 20px;
        padding-left: 42px;
        padding-top: 10px;
    }

    .trending {
        gap: 60px;
        padding-top: 10px;
        padding-left: 40px;

    }

    .item img {
        width: 140%;
        height: 95%
    }

    .overlay {
        bottom: -10px;
        left: -20px;
        padding: 5px 10px;
        font-size: 80px;
    }

    .faq {
        padding: 37px;
    }

    .faqbox {
        font-size: 20px;
        width: 240px;
    }

    .footer {
        grid-template-columns: 1fr;
    }

    .footer-item {
        gap: 12px;
    }

    .main input {
        width: 45%;
        margin: 0px 0px 0px -15px;

    }

    .btn-red {
        width: 92%;
        margin: 10px;

    }

    .hero-buttons {
        flex-direction: column;
        width: 100%;
    }

    .hero1 span {
        width: 89vw;
        padding-left: 50px;
        font-size: 20px;
    }

    .hero-buttons1 {
        flex-direction: column;
        width: 100%;
    }

    .hero1 input {
        padding: 23px 185px 10px 15px;
        font-size: 14px;
        padding-left: 75px;
        padding-bottom: 15px;
        max-width: 41%;
    }

}

/* for tablet devices */
@media screen and (max-width:768px) {
    nav {
        max-width: 90vw !important;
    }

    nav img {
        width: 105px !important;
    }

    .hero> :nth-child(1),
    .hero> :nth-child(2) {
        font-size: 40px !important;

    }

    .hero> :nth-child(3),
    .hero> :nth-child(4) {
        font-size: 18px !important;

    }

    .main input {
        width: 17%;
        margin: 0px 0px 0px -15px;

    }

    .trending {
        display: flex;
        gap: 4px;
        padding-left: 50px;

    }

    .item {
        border-radius: 8px;
        position: relative;
        width: 132px;
        flex-shrink: 0;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;

    }

    .item img {
        width: 96%;
        height: 94%;
        border-radius: 8px;
    }

    .overlay {
        bottom: -10px;
        left: -24px;
        padding: 5px 10px;
        font-size: 75px;
    }

    .trending-container h2 {
        font-size: 22px;
        padding-left: 42px;
        padding-top: 10px;
    }

    .scroll-container {
        display: none;
    }

    .scroll-btn {
        display: none;
    }

    #reason {
        display: flex;

    }

    #reason-heading h2 {
        margin-left: 76px;
    }

    #reason-box {
        display: flex;
        flex-direction: column;



    }

    #reason-box h2 {
        margin-left: 0px;
    }

    .faqbox {
        font-size: 18px;
    }

    .faq h2 {
        margin-left: -25px;
    }

    #box-1,
    #box-2,
    #box-3,
    #box-4 {
        width: 81%;
        height: 25vw;
        margin-left: 72px;
    }

    .fa-tv {
        padding-left: 645px;
        padding-bottom: 110px;
        padding-right: 40px;
    }

    .fa-download {
        padding-left: 645px;
        padding-bottom: 110px;
    }

    .fa-mobile-alt {
        padding-left: 645px;
        padding-bottom: 110px;

    }

    .fa-child {
        padding-left: 645px;
        padding-bottom: 110px;
    }

}

/* for larger devices */
@media screen and (max-width:1200px) {

    nav {
        max-width: 90vw !important;
    }

    

    .trending {
        display: flex;
        gap: 46px;
        padding-left: 90px
    }

    .item {
        border-radius: 8px;
        position: relative;
        width: 132px;
        flex-shrink: 0;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;

    }

    .item img {
        width: 112%;
        height: 95%;
        border-radius: 8px;
    }

    .overlay {
        bottom: -10px;
        left: -24px;
        padding: 5px 10px;
        font-size: 75px;
    }

    .scroll-btn {
        display: none;
    }

    .trending-container h2 {
        font-size: 22px;
        padding-left: 80px;
        padding-top: 10px;
    }

    #reason {
        display: flex;

    }

    #reason-heading h2 {
        margin-left: 76px;
    }

    #reason-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;



    }

    #reason-box h2 {
        margin-left: 0px;
    }

    #box-1,
    #box-2,
    #box-3,
    #box-4 {
        width: 72%;
        height: 25vw;
        margin-left: 82px;
    }

    #box-2 {
        margin-left: 20px;
    }

    #box-4 {
        margin-left: 20px;
    }

}